@tailwind base;
@tailwind components;
@tailwind utilities;


.textbox {
  @apply block w-full border border-gray-300 px-4 py-2 rounded-md focus:outline-none focus:border-blue-500;
}

.button {
  @apply block w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600;
}